<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN"
			"http://www.springframework.org/dtd/spring-beans-2.0.dtd">

<beans>

	<bean id="c" class="beans.continent">
		<property name="carBrands">
			<list>
				<value>Maruti</value>
				<value>Toyota</value>
				<value>Mercedes</value>
			</list>
		</property>

		<property name="GearType">
			<set>
				<value>4-Gear</value>
				<value>5-Gear</value>
				<value>Auto-Gear</value>
			</set>
		</property>

		<property name="brandModels">
			<map>
				<entry key="Maruti" value='Swift' />
				<entry key="Toyota" value="Qualis" />
				<entry key="Mercedes" value="Benz" />
			</map>
		</property>
		
	</bean>



</beans>